@page "/"
@attribute [Authorize]

@using AlicesWebsite.Shared
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager navman;
@inject DefaultHttpClient httpClient

<div class="row">
    <div class="col-12">
        <div style="text-align:center; font-size:8em;">
            <Rainbow Title="FIELD FAMILY LAUGHS" Colours="blue, orange"></Rainbow>
        </div>
    </div>
    </div>
<div class="row">

    @foreach(var video in Videos)
    {
        <div class="col-4 thumb">
            <a class="thumbnail" @onclick="() => Nav(video.Id)">
                <img class="img-responsive" src="@video.Thumbnail" alt="">
                <p>@video.Description</p>
            </a>
        </div>
    }
</div>

@code {
    public IEnumerable<GetVideoResponse> Videos { get; set; } = Enumerable.Empty<GetVideoResponse>();

    protected override async Task OnInitializedAsync()
    {
        Videos = await httpClient.Get<List<GetVideoResponse>>("/api/videos");
    }

    public void Nav(Guid id)
    {
        navman.NavigateTo($"./view/{id}");
    }

}